* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url(https://i.pinimg.com/736x/73/17/2a/73172a3c35425e8496782a999f183cb8.jpg);
    color: white;
    background-position-x: center;
    background-attachment: fixed;
}

ul {
    text-align: justify;
}

li {
    display: inline-block;
    margin: 0 3px;
}

hr {
    margin: 10px;
}

a {
    background-color: #192433;
    outline: 2px solid white;
    color: white;
    padding: 10px;
    display: block; /* Altere para block */
    text-decoration: none;
    border-radius: 8px;
    margin: 10px auto;
    cursor: pointer;
}

h1, h3 {
    padding: 20px;
    text-align: center;
}


.Pergaminho {
    text-align: center;
    margin: 5vw 25vw;
    line-height: 1.2;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #192433e3;
    background-color: #192433e3;
    backdrop-filter: blur(5px);
}

.imagem {
    mask-repeat: no-repeat;
    margin-left: auto ;
    width: 100%;
    height: auto;
    /* float: center; */
}

.Footer {
    margin: 20px;
    text-align: center;
}

h1:hover{
    text-decoration: underline;
}
h3:hover{
    text-decoration: underline;
}
p:hover{
    background-color: #192433;
}
